* {
  padding: 0; 
  margin: 0;
}

:root {
  --black: #070001;
  --brown: #843113;
  --red: #F1001E;
  --salmon: #FF8F5F;
  --orange: #FF4E00;
  --yellow: #FFE71E;
  --gold: #DFA700;
  --green: #006F1D;
  --mint: #96F08C;
  --turquoise: #00D7B3;
  --blue: #0076D0;
  --lavendar: #AB9BFF;
  --purple: #67287F;
  --pink: #FF5597;
}

@font-face {
  font-family: 'Adobe Heiti Std';
  src: url('fonts/AdobeHeitiStd-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'ABC Gaisyr';
  src: url('fonts/ABCGaisyr-RegularItalic-Trial.woff') format('woff'), 
       url('fonts/ABCGaisyr-RegularItalic-Trial.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ABC Helveesti';
  src: url('fonts/ABCHelveesti-Regular-Trial.woff') format('woff'),
       url('fonts/ABCHelveesti-Regular-Trial.woff2') format('woff2');
  font-weight: 400;     
}

html, body{
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  color: var(--yellow);
  font-family: 'ABC Helveesti';
  font-weight: 400;
  font-style: normal;
}

.paragraph p {
  line-height: 175%;
}

p {
  font-family: 'ABC Helveesti';
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: 'ABC Gaisyr';
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
}

#chunjie, #yuanxiaojie, #qingmingjie, #duanwujie, #qixi, #zhongqiujie, #chongyangjie {
  /* margin: 1rem; */
  /* padding: 1rem; */
  transition: background-color 0.3s ease-in-out;
}

/* #about.content{
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
} */

.char {
  font-family: 'Adobe Heiti Std', sans-serif;
  font-weight: regular;
  /* text-decoration: none;
  color: var(--blue);
  font-size: 10.25rem;
  line-height: 100%; */
}

.char.active {
  color: var(--yellow);
}

#home {
  display: flex;
  /* margin: 1rem; */
  height: 100vh;
  overflow-y: hidden;
}

.left, .right {
  position: fixed;
  padding: 1rem;
  /* width: 10%; */
  height: 100%;
  /* opacity: 0.5; */
}

.left {
  /* background: purple; */
  display: flex;
  align-items: center;
  align-self: center;
  z-index: 999;
}

.right {
  right: 0;
  /* background: purple; */
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: flex-end;
}

.middle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  /* background: blue; */
}

.date, .about {
  position: fixed;
  text-align: center;
  width: 100%;
  /* background: red; */
  /* opacity: 0.5; */
  height: 2.5rem;
}

.date {
  display: grid;
  align-items: center;
  /* z-index: 999; */
}

.about {
  bottom: 0;
}

.about p {
  line-height: 175%;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls svg {
  height: 1.25rem;
  color: var(--blue)
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.nested-links a {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--blue);
}

.link a:hover, .nested-links a:hover, .nested-links .char:hover {
  color: var(--yellow);
}

.link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--blue);
}

.link .char {
  font-size: 1.25rem;
  line-height: 150%;
  color: inherit;
}

.link .nested-links {
  font-size: 1rem;
  line-height: 175%;
  display: none;
}

.link.active .nested-links {
  display: block;
}

.moon-container {
  position: fixed;
  flex-direction: column;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: 40%; */
  z-index: -1;
}

.moon {
  width: 88vh;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: var(--yellow);
  transform: translateZ(0);
}

.moon::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
  width: 50%;
  height: 100%;
  animation: flip 15s steps(2) infinite;
}

.disc {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  animation: rotate 15s linear infinite;
}

.disc::before,
.disc::after {
  content: " ";
  display: block;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 15s;
  position: absolute;
  backface-visibility: hidden;
}

.disc::before {
  background-color: var(--black);
}

.disc::after {
  background-color: var(--yellow);
  transform: rotateY(180deg);
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes flip {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}


/* .moon {
  height: 88vh;
  width: 88vh;
  -webkit-clip-path: circle(44vh at center);
  clip-path: circle(44vh, 44vh, 44vh);
  clip-path: circle(44vh at center, 44vh, 44vh);
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: var(--yellow);
  overflow: hidden;
}

.moon:before, .moon:after {
  border-radius: 50%;
  content: "";
  position: absolute; 
  top: -4%;
  left: -4%;
  height: 108%;
  width: 108%;
}

.moon:before {
  background: var(--black);
  -moz-box-shadow: inset -1.5rem 0 1.5rem 0 var(--yellow);
  -webkit-box-shadow: inset -1.5rem 0 1.5rem 0 var(--yellow);
  box-shadow: inset -1.5rem 0 1.5rem 0 var(--yellow);
}

.moon:after {
  background: var(--yellow);
  -moz-box-shadow: inset -1.5rem 0 1.5rem 0 var(--ysellow);
  -webkit-box-shadow: inset -1.5rem 0 1.5rem 0 var(--yellow);
  box-shadow: inset -1.5rem 0 1.5rem 0 var(--yellow);
}

/* ANIMATION */
/* @keyframes before-fullmoon {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }

  0%, 24.99% {
    background: var(--black);
  }
  25%, 100% {
    background: var(--yellow);
  }
  0% {
    -moz-box-shadow: inset 0 0 1.5rem 0 var(--yellow);
    -webkit-box-shadow: inset 0 0 1.5rem 0 var(--yellow);
    box-shadow: inset 0 0 1.5rem 0 var(--yellow);
  }
  24.99% {
    -moz-box-shadow: inset 44vh 0 1.5rem 0 var(--yellow);
    -webkit-box-shadow: inset 44vh 0 1.5rem 0 var(--yellow);
    box-shadow: inset 44vh 0 1.5rem 0 var(--yellow);
  }
  25% {
    -moz-box-shadow: inset 44vh 0 1.5rem 0 var(--black);
    -webkit-box-shadow: inset 44vh 0 1.5rem 0 var(--black);
    box-shadow: inset 44vh 0 1.5rem 0 var(--black);
  }
  50%, 100% {
    -moz-box-shadow: inset 0 0 1.5rem 0 var(--black);
    -webkit-box-shadow: inset 0 0 1.5rem 0 var(--black);
    box-shadow: inset 0 0 1.5rem 0 var(--black);
  }

  0%, 50%, 100% {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; 
  }
  20%, 30% {
    -moz-border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    -webkit-border-radius: 10%;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  25% {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  0%, 24.99% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25%, 50%, 100% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes after-fullmoon {
  0%, 50% {
    opacity: 0;
  }

  50.01%, 100% {
    opacity: 1;
  }

  0%, 50%, 74.99% {
    background: var(--yellow);
  }
  75%, 100% {
    background: var(--black);
  }

  0%, 50% {
    -moz-box-shadow: inset 0 0 1.5rem 0 var(--black);
    -webkit-box-shadow: inset 0 0 1.5rem 0 var(--black);
    box-shadow: inset 0 0 1.5rem 0 var(--black);
  }

  74.99% {
    -moz-box-shadow: inset 44vh 0 1.5rem 0 var(--black);
    -webkit-box-shadow: inset 44vh 0 1.5rem 0 var(--black);
    box-shadow: inset 44vh 0 1.5rem 0 var(--black);
  }

  75% {
    -moz-box-shadow: inset 44vh 0 1.5rem 0 var(--yellow);
    -webkit-box-shadow: inset 44vh 0 1.5rem 0 var(--yellow);
    box-shadow: inset 44vh 0 1.5rem 0 var(--yellow);
  }

  100% {
    -moz-box-shadow: inset 0 0 1.5rem 0 var(--yellow);
    -webkit-box-shadow: inset 0 0 1.5rem 0 var(--yellow);
    box-shadow: inset 0 0 1.5rem 0 var(--yellow);
  }
  0%, 50%, 100% {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; 
  }
  70%, 80% {
    -moz-border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    -webkit-border-radius: 10%;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }

  75% {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  0%, 50%, 74.99% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75%, 100% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.moon:before {
  -moz-animation: before-fullmoon linear 15s infinite;
  -webkit-animation: before-fullmoon linear 15s infinite; 
  animation: before-fullmoon linear 15s infinite;
}

.moon:after {
  -moz-animation: after-fullmoon linear 15s infinite;
  -webkit-animation: after-fullmoon linear 15s infinite; 
  animation: after-fullmoon linear 15s infinite;
} */

/* .moon {
  display: none;
  transition: opacity 1.5s ease-in-out;
  animation: transform(rotate(360deg)) ease-in-out 1000ms;
} */

.moon.active {
  /* display: block; */
  /* opacity: 1; */
  /* border: 1px solid red;
  background: yellow; */
}

img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2.5rem 0;
}