button {
  font-size: 2rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #FFFD4A, white, #0061D3);
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 2rem;
}

button::before {
  content: '☀︎ Light Mode';
}

button.active::before {
  content: '☾ Dark Mode';
}

body.darkmode {
	background: black;
}

body.darkmode button{
	color: white;
  background: linear-gradient(to right, #FCD2AF, #1170CA, #000F3C);
  border: 1px solid white;
}